.desc {
    background: linear-gradient(rgba(#000, .6) 0% , rgba(#000, .6) 100%), url("../../../build/img/background.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    &__content {
        padding: 120px 0;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        h1 {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 900;
            color: #fff;
            line-height: 1.5;
        }
    }
}