.header {
    background: linear-gradient(rgba(#000, .2) 0%, rgba(#000, 0.2) 100%), url('../../../build/img/cover9.jpg') fixed;
    background-size: cover;
    height: 850px;
    font-family: "Raleway", sans-serif;
    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    &__title {
        h1 {
            color: #fff;
            letter-spacing: 15px;
            font-size: 70px;
            font-weight: 900;
            span {
                font-weight: 100;
            }
        }
    }
    &__subtitle {
        h5 {
            color: #fff;
        }
    }
}